body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100vh;
    font-family: "Trebuchet MS";
}
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
a:link {
    color: #617D40;
}
a:visited {
    color: #617D40;
}
a:focus {
    color: #42321c;
}
a:active {
    color: #749C43;
}
a:hover{
    border-bottom: 1px solid #42321c;
    color: #42321c;
}
#container1{
    display: flex;
    background-color: floralwhite;
    height: 10vh;
    width: 100vw;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}
#container1a{
    display: flex;
    align-items: center;
}
#slogan {
    color: #42321c;
}
form{
    display: flex;
    align-items: center;
    width:50vw;
    justify-content: center;
}
input{
    width:600px;
    height:35px;
}
button{
    border-radius: 10px;
    height:35px;
    margin-left: 5px;
}
#barredroite{
    display: flex;
    justify-content: space-between;
    width: 17vw;
    list-style-type: none;
    align-items: center;
}
#container2{
    display: flex;
    list-style:none;
    height:4vh;
    width:100vw;
    justify-content: center;
    background-color: #c4eb91;
    position: sticky;
    margin-top: 10vh;
    box-shadow: 0px 1px 2px #2B4D02;
}
nav > ul{
    margin:0;
    padding:0;
}
nav > ul::after{
    content: "";
    display: block;
    clear: both;
}
#container2 a{
    display: inline-block;
}
nav > ul > li{
    float: left;
    position: relative;
}
#container2a{
    display: flex;
    list-style-type: none;
    width: 40vw;
    justify-content: space-around;
}
.deroulant>a::after {
    content: "▼";
}
.sous{
    display: none;
    list-style:none;
    width: 15vw;
    background-color: #c4eb91;
    height: fit-content;
    padding: 5px;
    box-shadow: 0px 1px 2px #2B4D02;
}
nav li:hover .sous{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}
header{
    height:14vh;
}
section {
    background-color: floralwhite;
    height: 71vh;
}
footer {
    display: flex;
    background-color: #c4eb91;
    height: 15vh;
}
#footer1{
    display: flex;
    border: 1px solid black;
    width:50vw;
}
#footer2{
    display: flex;
    border: 1px solid black;
    width:50vw;
}